In [2]:
import pandas
df = pandas.read_csv('https://raw.githubusercontent.com/ywchiu/cathaybkpython/master/data/2330.TW.csv')
df.head()

         Date   Open   High    Low  Close   Adj Close    Volume
0  2017-12-11  228.5  229.0  227.0  227.5  219.500000  20649609
1  2017-12-12  229.5  229.5  225.0  227.5  219.500000  21796584
2  2017-12-13  227.5  228.0  226.5  227.0  219.017578  17920331
3  2017-12-14  228.0  230.5  227.5  230.5  222.394501  17193313
4  2017-12-15  228.5  230.0  226.5  230.0  221.912094  42625779

In [3]:
! pip install pandas_datareader

Requirement already satisfied: pandas_datareader in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages
Requirement already satisfied: pandas>=0.17.0 in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from pandas_datareader)
Requirement already satisfied: requests-ftp in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from pandas_datareader)
Requirement already satisfied: requests-file in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from pandas_datareader)
Requirement already satisfied: requests>=2.3.0 in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from pandas_datareader)
Requirement already satisfied: numpy>=1.7.0 in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: python-dateutil>=2 in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: pytz>=2011k in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from pandas>=0.17.0->pandas_datareader)
Requirement already satisfied: six in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from requests-file->pandas_datareader)
Requirement already satisfied: certifi>=2017.4.17 in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: idna<2.8,>=2.5 in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: urllib3<1.25,>=1.21.1 in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from requests>=2.3.0->pandas_datareader)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in /Users/davidchiu/.pyenv/versions/3.6.2/lib/python3.6/site-packages (from requests>=2.3.0->pandas_datareader)
You are using pip version 9.0.1, however version 18.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [4]:
from pandas_datareader import get_data_yahoo
tw2330 = get_data_yahoo('2330.TW')

In [6]:
tw2330.head()

                 Open       High        Low      Close  Adj Close      Volume
Date
2010-01-04  65.000000  65.000000  64.000000  64.900002  47.275986  39407000.0
2010-01-05  65.000000  65.099998  63.900002  64.500000  46.984604  37138000.0
2010-01-06  64.500000  64.900002  63.700001  64.900002  47.275986  49261000.0
2010-01-07  64.900002  65.000000  64.199997  64.199997  46.766075  42134000.0
2010-01-08  63.500000  64.300003  63.500000  64.000000  46.620388  46076000.0